<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		
    <title>游戏大厅《Glimmer》</title>
		
		<!-- 设置页面图标 -->
		<link rel="shortcut icon" href="/images/logo/GlimmerIco.ico">
		<!-- 导入必要依赖 -->
		<script type="text/javascript" src="/javascripts/jquery.min.js">	</script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		
		导入窗口插件
		<link rel="stylesheet" href="./plug/NewLayX/layx.min.css"/>
		<script type="text/javascript" src="./plug/NewLayX/layx.min.js"></script>
		
		<!-- 导入自身依赖 -->
		<link href="./UserStylesheets/FunctionPage.less" rel="stylesheet/less"/>
		<script type="text/javascript" src="javascripts/less.min.js"></script>
	
  </head>
  <body>
		<!-- 动态背景 -->
		<canvas id="Back" width="300" height="150" style="position:fixed;left: 0px;top: 0px;"></canvas>
		<!-- 主体内容 -->
		<div class="container-fluid" style="height:100%">
			<div id="Show_Body" class="col-md-12">
				<div id="Function_List" class="col-md-2 USB_Border">
					<!-- 用户的信息 -->
					<div id="User_Message">
						<div id="Head_Frame">
							<!-- 头像图片蒙版 -->
							<label>
								<div id="Head_Select">
									<!-- 提交头像文件 -->
									<form id="head_Form" method="post" enctype="multipart/form-data" onsubmit="return false">
										<input type="file" name="HeadImage" id='HeadFile' multiple style="visibility: hidden;">
										<font size="3" color="#ffffff">点击更换</font>
									</form>
								</div>
							</label>
							<img id="Head_Image" src='<%=locals.HeadImage||"./HeadImage/AccountHead.png"%>' style="width: 100%;height: 100%;"/>
						</div>
						<font size="3" color="#000000" style="left: 90px;top: 10px;position: absolute;">用户:<%=locals.username||"未知"%></font>
						<font size="3" color="#000000" style="left: 90px;top: 40px;position: absolute;">昵称:<%=locals.name||"未知"%></font>
					</div>
					<div id="Function">
								<div id="Main_Window" data-select="Main-box" class="Select_Button USB_Border">
									<img src="./images/UIimage/home.png" width="30px" height="70%" style="margin-top: 3px;"/>
									<font size="3" color="#03D0FF" style="">我的首页</font>
								</div>
								<div id="Friend_Window" data-select="big-box" class="Select_Button USB_Border">
									<img src="./images/UIimage/Friend_On.png" width="30px" height="70%" style="margin-top: 3px;"/>
									<font size="3" color="#03D0FF" style="">好友信息</font>
								</div>
								<div id="Game_Window" data-select="Main-box" class="Select_Button USB_Border">
									<img src="./images/UIimage/Game_On.png" width="30px" height="70%" style="margin-top: 3px;"/>
									<font size="3" color="#03D0FF" style="">游戏列表</font>
								</div>
					</div>
					
				</div>
				<div id="Function_Page" class="col-md-8 col-md-offset-1 USB_Border">
					<!-- 前端主页面 -->
					<div id="Main-box" class="Open_Window">
						<img src="./images/BackImage/HelloUser.jpg" width="100%" height="100%"/>
					</div>
					<!-- 好友单元 -->
					<div id="big-box" class="">
						<!-- 根据好友数量设置好友单元数量 -->
					</div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			//提交头像表单事件
			$("#HeadFile").get(0).onchange = function () {
					let thisFile = this.files[0]
					//保存文件后缀名
					let suffix = thisFile.name.split(".")[1]
					
					//更改图片并且上传至数据库
					let reader = new FileReader()
					reader.readAsDataURL(thisFile)/*异步解析，不会立马返回结果*/
					reader.onload = function(e) {
						//图片的二进制数据转换成base64的字符串 
						//常见用于显示页面的一些小图片或图标
			      let data = e.target.result;
						$("#Head_Image").attr("src", data);
			
						$.ajax({
								method:"POST",
								url:"users/headImage",//路由路径
								data:{ImageData:data,suffix:suffix},
								
								success:function(data){
									//提示更换头像成功
									layx.notice({
											title: '消息提示',
											message: '新的头像保存成功！'
									});
								},
								
								error : function(e){
									//提示更换头像失败
									layx.notice({
									    title: '错误提示',
									    type: 'error',
									    message: '错误！头像设置失败！'
									});
								},
						});
					}
			}
		</script>
		<script type="text/javascript" src="./UserJavascripts/FunctionPage/index.js"></script>
		<!-- 增加背景 -->
		<script type="text/javascript" src="UserJavascripts/GlimmerLI/TrendsBack.js">	</script>
  </body>
</html>
