<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		
		<!-- <meta name="viewport"
		    content="width=device-width, initial-scale=1.0, maximum-scale=1,minimum-scale=1,user-scalable=no" /> -->
		<title>微光《Glimmer》</title>
		<!-- 设置页面图标 -->
		<link rel="shortcut icon" href="images/logo/GlimmerIco.ico">
		<!-- 导入样式 -->
		<link href="UserStylesheets/GlimmerLI.less" rel="stylesheet/less"/>
		<script type="text/javascript" src="javascripts/less.min.js"></script>
		
	</head>
	<body>
		<!-- 动态背景 -->
		<canvas id="Back" width="300" height="150" style="position:fixed;left: 0px;top: 0px;"></canvas>
		<!-- 登入注册本体 -->
		<div class="container">
			<div id="Goin-Register" class="col-md-10 col-md-offset-1">
				<div id="Register" class="RG">
					<div style="width: 100%;height: 90%;padding: 40px 5px 0px 5px;">
						<form id="Register_From" method="post" onsubmit="return false">
							<!-- 账户AND密码 -->
							<div class="input-group Input_List">
							    <span class="input-group-addon">账户:</span>
									<!-- 测试用户信息 -->
							    <input id="Account_test" name="Account" type="text" class="form-control" placeholder="">									
							</div>
							<div class="input-group Input_List">
							    <span class="input-group-addon">昵称:</span>
							    <input id="Name_test" name="name" type="text" class="form-control" placeholder="">
							</div>
							<div class="input-group Input_List">
							    <span class="input-group-addon">密码:</span>
							    <input id="Password_test" name="Password" type="text" class="form-control" placeholder="">
							</div>
							<!-- 性别选择 -->
					    <div class="input-group Input_List">
								<span class="input-group-addon">性别:</span>
					      <select id="Sex_Select" name="Sex" class="form-control">
					        <option value="0">我不想透露</option>
					        <option value="1">男</option>
					        <option value="2">女</option>
					      </select>
					    </div>
							<!-- 安全条例 -->
							<div class="checkbox">
								<label ><input id="Sefa_OFF" type="checkbox" value=""><div style="width: 200px;height: 20px;"><a>同意微光[Glimmer]安全条例</a></div></label>
							</div>
							<!-- 注册进度 -->
							<!-- <font size="3" style="width: 200px;height: 20px;display: block;">注册进度:</font> -->
							<div class="progress">
								<!-- 进度条 -->
							  <div id="schedule" class="progress-bar" style="width:20%;height: 20px;background-color: red;">
								</div>
							</div>
							<button id="Register_Button" type="submit" class="btn btn-warning" style="margin-left: 40%;">注册</button>
						</form>
					</div>
					<div class="Iframe_Select" style="float: left;">
						<font size="5" ><i>去登陆</i></font>
						<img src="images/UIimage/GO_Register.png"/>
					</div>
				</div>
				<div id="Image_Show" style="height: 100%;">
					<img src="images/BackImage/back1.jpg" class="NextImage ImageShow">
					<img src="images/BackImage/back2.jpg" class="NextImage">
					<img src="images/BackImage/back3.jpg" class="NextImage">
					<img src="images/BackImage/back4.jpg" class="NextImage">
					<img src="images/BackImage/back5.jpg" class="NextImage">
					<div id="Drop_Show">
						<div class="Drop Drop_Show"></div>
						<div class="Drop"></div>
						<div class="Drop"></div>
						<div class="Drop"></div>
						<div class="Drop"></div>
					</div>
				</div>
				<div id="Goin" class="RG Iopen">
					<div style="width: 100%;height: 90%;padding: 0px 5px 0px 5px;">
						<img id="Logo" src="images/Logo/Glimmer.png">
						
						<form id="Login_From" method="post" onsubmit="return false">
							<div class="input-group Input_List">
							    <span class="input-group-addon">账户:</span>
							    <input type="text" name="Account" class="form-control" placeholder="">
							</div>
							<div class="input-group Input_List">
							    <span class="input-group-addon">密码:</span>
							    <input id="Password" type="password" name="Password" class="form-control" placeholder="">
							</div>
							<!-- 安全条例 -->
							<div class="checkbox">
								<label ><input id="Sefa_OFF_Tow" type="checkbox" value=""><div style="width: 200px;height: 20px;"><a>同意微光[Glimmer]安全条例</a></div></label>
							</div>
						<!-- 登录事件 -->
						<button id="Login_Button" type="submit" class="btn btn-warning" style="margin-left: 40%;">登录</button>
						</form>
					</div>
					<div class="Iframe_Select" style="float: left;">
						<img src="images/UIimage/GO_GOIN.png"/>
						<font size="5" v-text="msg" ><i>去注册</i></font>
					</div>
				</div>
			</div>
		</div>
		
		
	</body>
	
	<!-- 导入必要依赖 -->
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/axios.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
	<!-- 导入依赖插件 -->
	<script type="text/javascript" src="./plug/layer/layer.js"></script>
	<!-- 导入js表单事件 -->
	<script type="text/javascript" src="UserJavascripts/GlimmerLI/FromEvent.js"></script>
	<!-- 导入动态js对象 -->
	<script type="text/javascript" src="UserJavascripts/GlimmerLI/index.js"></script>
	<script type="text/javascript" src="UserJavascripts/GlimmerLI/TrendsBack.js">	</script>
	
	
</html>
