
//-----------------------标准
//边框颜色(标准)
@border_Color : #bcbcbc;
//动画时间(标准)
@Anim_Time : 2s;

//设置全屏显示
html,body{
		height: 95%;
}
//标准边框类型
.USB_Border{
	border-radius: 10px;
	background-color: white;
	border:2px @border_Color solid;
}

//选框边框类型
.S_Border{
	border-radius: 0px 15px 0px 15px;
	background-color: white;
	border:2px @border_Color solid;
}

//页面主体
#Show_Body{
	height:100%;
	
	//主单元下，显示单元的样式设置
	>div{
		height: 100%;
	}
	//设置背景颜色
	 div{
		background-color: white; 
	}
	
	//功能选择列表
	#Function_List{
		height:100%;
		margin: 0px;
		
		//个人信息框
		#User_Message{
			top: 10px;
			left: 10px;
			width:90%;
			height:20%;
			position: absolute;
			border-bottom:2px @border_Color solid;
			
			//字体显示
			>font{
				top: 0px;
				left: 100px;
				padding: 2px;
				color: #5555ff;
				cursor: pointer;
				position: absolute;
				transition: all 1s;
				border-bottom: 1px cadetblue solid;				
				
				&:hover{
					color: #5555ff;
					border-radius: 0px 0px 10px 0px;	
				}
			}
			
			//头像框设置
			#Head_Frame{
				top: 0px;
				left: 0px;
				width:70px;
				height:70px;
				overflow: hidden;
				position: absolute;
				border-radius: 10px;
				background-color: white;
				border:2px @border_Color solid;
				
				//标签
				>label{
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					position: absolute;
				}
				
				
				//设置蒙版效果
				#Head_Select{
					opacity: 0;
					z-index: 10;
					width: 100%;
					height: 100%;
					transition: all 1s;
					background-color: #d0d0d0;
				}
				#Head_Select:hover{
					opacity: 0.4;
				}
			}
		}
		//功能选择
		#Function{
			top: 25%;
			left: 0px;
			height:75%;
			width: 100%;
			position: absolute;
			//功能选择按钮样式与动画
			.Select_Button{
				width: 80%;
				height:45px;
				margin-left: 15%;
				margin-bottom: 20px;
				transition: all 1s;
			}
			
			.Select_Button:hover{
				margin-left: 5%;
				border-radius: 15px 0px 15px 0px;
			}
		}
	}
	//功能显示页面
	#Function_Page{
		height:100%;
		padding: 0px;
		overflow: hidden;
		
		//主页面
		#Main-box{
			width: 100%;
			height: 100%;
			background-color: black;
		}
		
		//设置好友列表属性
		#big-box{
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			
			#Friend_List{
				top:0px;
				right: 0px;
				width: 200px;
				height: 100%;
				position: absolute;
				border-radius: 10px;
				background-color: white;
				border-top:2px @border_Color solid;
				border-left:2px @border_Color solid;
				border-bottom:2px @border_Color solid;
			}
			
			//设置好友单元
			.Unit-shows{
				width: 90%;
				height: 70px;
				margin-left:5%;
				margin-top: 10px;
				border-radius: 10px;
				transition: all 0.3s;
				background-color:  #ffffff;
				border:2px @border_Color solid;
				
				//设置好友头像框
				.F_Headimage{
					width: 40px;
					height: 40px;
					margin-top: 10px;
					margin-left: 10px;
					overflow: hidden;
					border-radius: 10px;
					border:1px @border_Color solid;
				}
			}
			/* 关闭 */
			.Close{
				background-color: #ffffff;
			}
			/* 打开 */
			.Open{
				height: 120px;
				background-color: #aaffff;
				//设置放大
				// .F_Headimage{
				// 	>img{
				// 		width: 80px;
				// 		height: 80px;
				// 	}
				// }
			}
		}
	}
}