
//-----------------------标准
//边框颜色(标准)
@border_Color : #bcbcbc;
@hover_border_Color : #ffaa7f;
//动画时间(标准)
@Anim_Time : 2s;

//设置全屏显示
html,body{
		height: 95%;
}
body {
	background-image: url("../images/BackImage/pc_bg.jpg");
	background-repeat: no-repeat;
}
//标准边框类型
.USB_Border{
	background-color: white;
}

//选框边框类型
.S_Border{
	background-color: white;
}

//页面主体
#Show_Body{
	height:100%;
	
	//主单元下，显示单元的样式设置
	>div{
		height: 100%;
	}
	
	//功能选择列表
	#Function_List{
		height:100%;
		margin: 0px;
		border-right: 1px solid @border_Color;
		box-shadow: 1px 2px 8px #999;

		//个人信息框
		#User_Message{
			left: 0;
			right:0;
			width:90%;
			height:20%;
			margin: 20px auto;
			position: absolute;
			background:linear-gradient(to right,#419cfe,#25c6fe); 



			border-radius: 10px;
			box-shadow: 1px 2px 8px #999;
			//字体显示
			>font{
				top: 20px;
				left: 120px;
				padding: 2px;
				color: #5555ff;
				cursor: pointer;
				position: absolute;
				transition: all 1s;
				border-bottom: 1px #fff solid;				
				
				&:hover{
					color: #5555ff;
					border-radius: 0px 0px 10px 0px;	
				}
			}
			
			//头像框设置
			#Head_Frame{
				top: 20px;
				left: 20px;
				width:70px;
				height:70px;
				overflow: hidden;
				position: absolute;
				border-radius: 50%;
				background-color: white;
				
				//标签
				>label{
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					position: absolute;
				}
				
				
				//设置蒙版效果
				#Head_Select{
					opacity: 0;
					z-index: 10;
					width: 100%;
					height: 100%;
					transition: all 1s;
					background-color: #d0d0d0;
				}
				#Head_Select:hover{
					opacity: 0.4;
				}
			}
		}
		//功能选择
		#Function{
			top: 25%;
			left: 0px;
			height:75%;
			width: 100%;
			position: absolute;
			//功能选择按钮样式与动画
			.Select_Button{
				position: relative;
				width: 80%;
				height:50px;
				transition: all .7s;
				margin: 20px auto;
				background:rgba(250, 245, 245, 0.6);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			.Select_Button:hover{
				transform: scale(1.1);
				box-shadow: 1px 2px 8px rgb(117, 167, 214);
			}
		}
	}
	//功能显示页面
	#Function_Page{
		height:100%;
		padding: 0px;
		overflow: hidden;
		box-shadow: 1px 2px 8px #999;
		//主页面
		#Main-box{
			width: 100%;
			height: 100%;
			background-color: black;
		}
		
		//设置好友列表属性
		#big-box{
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			
			#Friend_List{
				top:0px;
				right: 0px;
				width: 25%;
				height: 100%;
				position: absolute;
				// border-radius: 10px;
				
				// border-top:2px @border_Color solid;
				// border-left:2px @border_Color solid;
				// border-bottom:2px @border_Color solid;
				border-left: 1px solid @border_Color;
				// background-color: rgba(0, 0, 0, .7);
				
				//设置好友单元
				.Unit-shows{
					width: 90%;
					height: 40px;
					margin-left:5%;
					margin-top: 10px;
					overflow: hidden;
					transition: all 0.3s;
					background-color:  #ffffff;
					
					//触摸动画
					&:hover{
						height: 80px;
						border:1px @hover_border_Color solid;
					}
					
					//设置好友头像框
					.F_Headimage{
						width: 30px;
						height: 30px;
						margin-top: 3px;
						margin-left: 3px;
						overflow: hidden;
						border-radius: 10px;
						border:1px @border_Color solid;
					}
					
					//设置在线显示栏
					.F_State{
						margin-left: 20px;
						width: 15px;
						height: 15px;
					}
					
					//个人功能选择栏
					.State_Frame{
						width: 100%;
						height: 37px;
						margin-top: 7px;
						//状态UI
						.State_UI{
							width: 28px;
							height: 28px;
							margin-top: 2px;
							margin-left: 14px;
						}									
					}
				}
			}
			//信息发送框
			#Send_Message{
				left: 0px;
				bottom:0px;
				width: 75%;
				height: 35%;
				position: absolute;
				background-color: white;
				
				#Send_Select{
					width:100%;
					height:20%;
					border-top:1px @border_Color solid;
					border-bottom:1px @border_Color solid;
				}
				
				#Send_Button{
					top: 75%;
					left: 80%;
					position: absolute;
					background-color: #25c6fe;
					outline: none;
					border: none;
				}

				#Send_Button:hover{
					background-color: #47c8f8;
				}
				
				#Send_Frame{
					width:100%;
					height:80%;
					border:none;
					resize:none;
					display: block;
					outline: none;
				}
			}
			
			//聊天信息显示框
			#Friend_Message{
				top:0px;
				left: 0px;
				width: 75%;
				height: 65%;
				position: absolute;
				background-color: white;
				.user_name{
					background:linear-gradient(to right,#419cfe,#25c6fe); 
					height: 40px; 
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				img {
					width: 30px;
					height: 30px; 
					position: absolute; 
					top: 5px;
					left: 10px;
				}
			}
			
			/* 关闭 */
			.Close{
				background-color: #ffffff;
			}
			/* 打开 */
			.Open{
				height: 120px;
				background-color: #aaffff;
			}
		}
	}
}